.form {
  display: flex;
  flex-direction: column;
  /* select all direct children of form */
  > * {
    margin-bottom: $s-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}
